<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Revature Associate System</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="resources/css/style.css">
	<script defer src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script defer src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script defer src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
	<script defer src="resources/js/app.js"></script>
	<script defer src="resources/js/header.js"></script>
	<script defer src="resources/js/placement.js"></script>
	<script defer src="resources/js/interviews.js"></script>
	<script defer src="resources/js/submission.js"></script>
	<script defer src="resources/js/navbar.js"></script>
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<script defer src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
</head>
<body data-ng-app="RAS">
	<div data-ng-controller="MainController as main">
	
		<div data-ng-controller="HeaderPanel as header" class="Container">
			<img id="RevatureLogo" class="Inline"
				src="https://revature.com/imgs/logo.png"></img>
			<span class="Container Inline" id="AlertBar">
				<h1>Associate System</h1>
				<h3>Alerts Here</h3>
			</span>
			<span class="Inline" id="UserInfo">
				<input class="UserTextBox" type="text" ng-model="firstName" size=12 placeholder="First Name:"><br/>
				<input class="UserTextBox" type="text" ng-model="lastName" size=12 placeholder="Last Name:"><br/>
				<label>Full Name: {{firstName + " " + lastName}}</label><br/>
				<a href="http://www.google.com">Logout</a>
			</span>
			<br>
			<span class="navigationBar" id="navigationBar">
				<a href="#/" class="navSelected">Home</a>
				<a href="#/question">Question Bank</a>
			</span>
			<br>
		</div>
		
		
		<hr/>
		<div data-ng-view></div>
		
	</div>
</body>
</html>