<link rel="stylesheet" href="resources/css/main.css">
<!-- Placement; Only display if placement is available. -->
<hr/>
<div data-ng-controller="InterviewsPanel" class="Container" id="InterviewsPanel">
	<input type="button" id="RefreshInterviewsButton" data-ng-click="refreshAll()" value="Refresh Interviews"/>
	<div class="InterviewBlock" data-ng-repeat="interview in getAllInterviews()">
		<h3 class="ClientName">{{interview.client}}</h3>
		<label class="InterviewInfo">{{interview.info}}</label>
		<span class="InterviewInfoSpacer"><label>...</label></span>
		<label class="InterviewLateInfo">{{interview.info}}</label>
	</div>
</div>
<hr/>
<div data-ng-controller="SubmissionPanel" class="Container"
	id="SubmissionPanel">

	First Name: <input type="text" ng-model="firstName"><br>
	Last Name: <input type="text" ng-model="lastName"><br> <br>
	Full Name: {{firstName + " " + lastName}}
</div>