<div class="container"  data-ng-app="RAS" data-ng-controller="techController">
	<div class="filter">
	<select ng-options="categories for categories in allCategories" ng-model="selectCategories" ng-change="getQuestionsByCategory(selectCategories)"></select>
	</div>	
	
	<div class="question-container" data-ng-repeat="question in questions">
			{{question.techQuestionName}}
			{{question.user.userUsername}}
			{{question.user.track.trackName}}
	</div>
	
	{{ things }}
</div>
<script defer src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script defer src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
<script defer src="resources/js/app.js"></script>
<script defer src="resources/js/techcontroller.js"></script>
<script defer src="resources/js/techservice.js"></script>